<!DOCTYPE html>
<html>

<head>

<title>Admin Dashboard</title>

<style>

body{

font-family:Arial;
background:#f5f5f5;

}


.container{

width:800px;
margin:40px auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px gray;

}


h1{

text-align:center;
color:#0066cc;

}


table{

width:100%;
border-collapse:collapse;

}


th{

background:#0066cc;
color:white;
padding:10px;

}


td{

padding:10px;
border:1px solid #ddd;
text-align:center;

}


</style>

</head>


<body>


<div class="container">


<h1>
Admin Dashboard
</h1>


<table>


<tr>

<th>User</th>

<th>Pass Type</th>

<th>Price</th>

<th>Pass ID</th>

</tr>



{% for pass in passes %}


<tr>

<td>
{{pass[1]}}
</td>


<td>
{{pass[2]}}
</td>


<td>
₹{{pass[3]}}
</td>


<td>
{{pass[4]}}
</td>


</tr>


{% endfor %}


</table>



</div>


</body>


</html>